<h1>PROVEEDOR</h1>

<button class="btn btn-primary" (click)="mostrar(1)">insertar proveedor</button><br><br>

<div id="formulario" *ngIf="verf==true">

<div class="row">
  <div class="col-lg-6">
    <input type="text" id="nombre" class="form-control" [(ngModel)]="prov.nombre"><br>
    <span style="color: red;" *ngIf="validnombre==false">insertar nombre</span>
  </div>
  <div class="col-lg-6">
    <input type="text" id="direccion" class="form-control" [(ngModel)]="prov.direccion"><br>
    <span style="color: red;" *ngIf="validdireccion==false">insertar direccion</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <input type="celular" id="celular" class="form-control" [(ngModel)]="prov.celular"><br>
    <span style="color: red;" *ngIf="validcelular==false">insertar celular</span>
  </div>
  <div class="col-lg-6">
    <select id="email" class="form-control form-select" [(ngModel)]="prov.email">
 <option value="email" label="email">email</option>
      <option value="general" label="general">general</option>
    </select><br>
    <span style="color: red;" *ngIf="validcargo==false">elegir el correo</span>
  </div>

  
  <button  *ngIf="beditar==false"  class="btn btn-primary" (click)="ingresar ()">guardar</button>
  <!--<button *ngIf="beditar==true" class="btn btn-primary" (click)="editar()">guardar</button>-->
</div>
  <div class="col-lg-3">
    <button class="btn btn-secondary" (click)="mostrar(0)">cancelar</button>
  </div>
  <div class="col-lg-3"></div>
</div>

<br>
<div class="table-responsive">
  <table class="table table-success table-striped" border="1">
    <tr>
      <th>nombre</th>
      <th>direccion</th>
      <th>Celular</th>
      <th>email</th>
      <th>Acciones</th>
    </tr>
    <!-- mostrar los proveedores -->
    <tr *ngFor="let item of proveedor">
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.celular}}</td>
      <td>{{item.email}}</td>
      <td>
         
      

      <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>

      </td>
    </tr>
  </table>
</div>