
<h1>CIUDAD</h1>

<button class="btn btn-primary" (click)="mostrar(1)">Insertar Ciudad</button><br><br>

<div id="formulario" *ngIf="verf">
  <div class="row">
    <div class="col-lg-2">
      <input type="text" id="nombre" class="form-control" [(ngModel)]="ciud.nombre" placeholder="Nombre de la Ciudad" [ngClass]="{'error': !ciud.nombre && validnombre}">
      <br>
      <span *ngIf="!ciud.nombre && validnombre" class="error"></span>
    </div>

    <div class="col-lg-2">
      <select id="fo_depto" class="form-control form-select" [(ngModel)]="ciud.fo_depto" [ngClass]="{'error': ciud.fo_depto == 0 && validfodepto}">
        <option value="0">Seleccionar Departamento</option>
        <option *ngFor="let item1 of deptos" [value]="item1.id_depto">{{item1.nombre}}</option>
      </select>
      <br>
      <span *ngIf="ciud.fo_depto == 0 && validfodepto" class="error"></span>
    </div>

    <div class="col-lg-3">
      <button *ngIf="beditar ==false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
      <button *ngIf="beditar ==true" class="btn btn-primary" (click)="editar()">guardar</button>
    </div>

    <div class="col-lg-3">
      <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
    </div>

    <div class="col-lg-2"></div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-success table-striped" border="1">
      <tr>
        <th>Nombre</th>
        <th>Departamento</th>
        <th>Acciones</th>
      </tr>
      <!-- Mostrar las ciudades -->
      <tr *ngFor="let item of ciudades">
        <td>{{item.nombre}}</td>
        <td>{{item.ndepto}}</td>
        <td>
          <a (click)="cargardatos(item, item.id_ciudad)">
            <span class="fas fa-edit Editar" title="Editar"></span>
          </a>
          <a (click)="pregunta(item.id_ciudad, item.nombre)">
            <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>