
<h1>USUARIO</h1>

<button class="btn btn-primary" (click)="mostrar(1)">insertar Usuario</button><br><br>

<div id="formulario" *ngIf="verf==true">

<div class="row">
  <div class="col-lg-6">
    <input type="text" id="nombre" class="form-control" [(ngModel)]="user.nombre"><br>
    <span style="color: red;" *ngIf="validnombre==false">insertar nombre</span>
  </div>
  <div class="col-lg-6">
    <input type="password" id="clave" class="form-control" [(ngModel)]="user.clave"><br>
    <span style="color: red;" *ngIf="validclave==false">insertar clave</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <input type="email" id="correo" class="form-control" [(ngModel)]="user.correo"><br>
    <span style="color: red;" *ngIf="validcorreo==false">insertar correo</span>
  </div>
  <div class="col-lg-6">
    <select id="cargo" class="form-control form-select" [(ngModel)]="user.cargo">
 <option value="administrador" label="administrador">administraor</option>
      <option value="general" label="general">general</option>
    </select><br>
    <span style="color: red;" *ngIf="validcargo==false">elegir el cargo</span>
  </div>

</div>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3">
    <button  *ngIf="beditar==false"  class="btn btn-primary" (click)="ingresar()">guardar</button>
    <button *ngIf="beditar==true" class="btn btn-primary" (click)="editar()">editar</button>
  </div>
  <div class="col-lg-3">
    <button class="btn btn-secondary" (click)="mostrar(0)">cancelar</button>
  </div>
  <div class="col-lg-3"></div>
</div>
</div>

<br>
<div class="table-responsive">
  <table class="table table-success table-striped" border="1">
    <tr>
      <th>nombre</th>
      <th>Correo</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
    <!-- mostrar los usuarios -->
    <tr *ngFor="let item of usuario">
      <td>{{item.nombre}}</td>
      <td>{{item.correo}}</td>
      <td>{{item.cargo}}</td>
      <td>
        <a (click)="cargardatos(item, item.id_usuario)">
      <span class="fas fa-edit Editar" title="Editar"></span>
      </a>

      <a (click)="pregunta(item.id_usuario, item.nombre)">

      <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
      </a>
      </td>
    </tr>
  </table>
</div>





