<h1>ORDENES DE SERVICIO</h1>

<button class="btn btn-primary" (click)="mostrar(1)">Insertar Orden</button><br><br>

<div id="formulario" *ngIf="verf">
  <div class="row">
    <div class="col-lg-6">
      <input type="text" id="electromecanica" class="form-control" [(ngModel)]="ordens.electromecanica" placeholder="">
      <span class="error-message" *ngIf="validelectromecanica">Insertar orden de electromecánica</span>
    </div>
    <div class="col-lg-6">
      <input type="text" id="metalmecanica" class="form-control" [(ngModel)]="ordens.metalmecanica" placeholder="">
      <span class="error-message" *ngIf="validmetalmecanica">Insertar orden de metalmecánica</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <input type="text" id="asistenciatecnica" class="form-control" [(ngModel)]="ordens.asistenciatecnica" placeholder="">
      <span class="error-message" *ngIf="validasistenciatecnica">Insertar asistencia técnica</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <button class="btn btn-primary" (click)="beditar ? editar() : ingresar()">{{ beditar ? 'Editar' : 'Guardar' }}</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-striped" border="1">
    <thead>
      <tr>
        <th>Electromecánica</th>
        <th>Metalmecánica</th>
        <th>Asistencia Técnica</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- mostrar los repuestos -->
      <tr *ngFor="let item of ordenesdeservicio">
        <td>{{ item.electromecanica }}</td>
        <td>{{ item.metalmecanica }}</td>
        <td>{{ item.asistenciatecnica }}</td>
        <td>
          <a (click)="cargardatos(item, item.id_ordenes_de_servicio)">
            <span class="fas fa-edit Editar" title="Editar"></span>
          </a>

          <a (click)="pregunta(item.id_ordenes_de_servicio, item.electromecanica)">
            <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
          </a>
      
        </td>
      </tr>
    </tbody>
  </table>
</div>