<div class="container">
  <h1>REPUESTOS</h1>
  <button class="btn btn-primary" (click)="mostrar(1)">Insertar repuestos</button><br><br>

  <div id="formulario" *ngIf="verf">
    <div class="row">
      <div class="col-lg-2">
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" class="form-control" [(ngModel)]="repuest.cantidad"><br>
        <span style="color: red;" *ngIf="validcantidad==false">Insertar cantidad</span>
      </div>
      <div class="col-lg-2">
        <label for="total">Total:</label>
        <input type="text" id="total" class="form-control" [(ngModel)]="repuest.total"><br>
        <span style="color: red;" *ngIf="validtotal==false">Insertar el total</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
        <button *ngIf="!beditar" class="btn btn-primary" (click)="ingresar()">Guardar</button>
        <button *ngIf="beditar" class="btn btn-primary" (click)="editar()">Guardar</button>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <br>
  <div class="table-responsive">
    <table class="table table-success table-striped" border="1">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Mostrar los repuestos -->
        <tr *ngFor="let item of repuestos">
          <td>{{item.cantidad}}</td>
          <td>{{item.total}}</td>
          <td>
            <a (click)="cargardatos(item, item.id_repuestos)">
              <span class="fas fa-edit Editar" title="Editar"></span>
            </a>
            <a (click)="pregunta(item.id_repuestos, item.cantidad)">
              <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>