<h1>CLIENTES</h1>

<button class="btn btn-primary" (click)="mostrar(1)">Insertar cliente</button><br><br>

<div id="formulario" *ngIf="verf">
  <div class="row">
    <div class="col-lg-6">
      <input type="text" id="nombre" class="form-control" [(ngModel)]="client.nombre" placeholder="Nombre"><br>
    </div>
    <div class="col-lg-6">
      <input type="text" id="celular" class="form-control" [(ngModel)]="client.celular" placeholder="Celular"><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <button *ngIf="!beditar" class="btn btn-primary" (click)="ingresar()">Guardar</button>
      <button *ngIf="beditar" class="btn btn-primary" (click)="editar()">Editar</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<br>
<div class="table-responsive">
  <table class="table table-success table-striped" border="1">
    <tr>
      <th>Nombre</th>
      <th>Celular</th>
      <th>Acciones</th>
    </tr>
    <!-- Mostrar los clientes -->
    <tr *ngFor="let item of cliente">
      <td>{{item.nombre}}</td>
      <td>{{item.celular}}</td>
      <td>
        <a (click)="cargardatos(item, item.id_cliente)">
          <span class="fas fa-edit Editar" title="Editar"></span>
        </a>
        <a (click)="pregunta(item.id_cliente, item.nombre)">
          <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
        </a>
      </td>
    </tr>
  </table>
</div>