
<div class="container">
  <h1>PRODUCTOS</h1>
  <button class="btn btn-primary" (click)="mostrar(1)">Insertar Producto</button><br><br>

  <div id="formulario" *ngIf="verf">
    <div class="row">
      <div class="col-lg-6">
        <label for="nombreProducto">Nombre del producto:</label>
        <input type="text" id="nombreProducto" class="form-control" [(ngModel)]="product.nombre" placeholder=""><br>
        <span style="color: red;" *ngIf="!validnombre">Insertar nombre</span>
      </div>
      <div class="col-lg-6">
        <label for="marca">Marca:</label>
        <select id="marca" class="form-control form-select" [(ngModel)]="product.fo_marca">
          <option value="0" label="Seleccionar marca">Seleccionar marca</option>
          <option *ngFor="let marca of marcas" [value]="marca.id_marca">{{ marca.nombre }}</option>
        </select>
        <span style="color: red;" *ngIf="!validfomarca">Seleccionar marca</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <button class="btn btn-primary" (click)="beditar ? editar() : ingresar()">{{ beditar ? 'Editar' : 'Guardar' }}</button>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-secondary" (click)="mostrar(0)">Cancelar</button>
      </div>
    </div>
  </div>

  <br><br>
  <div class="table-responsive">
    <table class="table table-striped" border="1">
      <tr>
        <th>Nombre del Producto</th>
        <th>marca</th>
        <th>Acciones</th>
      </tr>
      <!-- Mostrar los productos -->
      <tr *ngFor="let item of productos">
        <td>{{ item.nombre }}</td>
        <td>{{ item.nmarca }}</td>
        <td>
          <a (click)="cargardatos(item,item.id_producto)">
            <span class="fas fa-edit Editar" title="Editar"></span>
          </a>
          <a (click)="pregunta(item.id_producto, item.nombre)">
            <span class="fas fa-trash-alt Eliminar" title="Eliminar"></span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>